.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: #fff;
  height: 5%;
}

.title {
  text-align: center;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noMargin {
  margin: 0;
}
