.optionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  background-color: rgb(29, 28, 28);
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.hidden {
  height: 0;
  overflow: hidden;
  padding: 0;
}
